<h2>Cadastro de Transportadora</h2>

<% if @carrier.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
        <% @carrier.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @carrier do |form| %>
    <div>
        <%= form.label :corporate_name %>
        <%= form.text_field :corporate_name %>
    </div>
    <div>
        <%= form.label :brand_name %>
        <%= form.text_field :brand_name %>
    </div>
    <div>
        <%= form.label :domain %>
        <%= form.text_field :domain %>
    </div>
    <div>
        <%= form.label :registered_number %>
        <%= form.text_field :registered_number %>
    </div>
    <div>
        <%= form.label :full_address %>
        <%= form.text_field :full_address %>
    </div>
    <div>
        <%= form.submit 'Cadastrar' %>
    </div>
<% end %>