<h2><%= @carrier.brand_name %></h2>

<main>
    <dl>
        <dt><strong>Razão Social:</strong></dt>
        <dd><%= @carrier.corporate_name %></dd>

        <dt><strong>Nome Fantasia:</strong></dt>
        <dd><%= @carrier.brand_name %></dd>

        <dt><strong>Domínio de E-mail:</strong></dt>
        <dd><%= @carrier.domain %></dd>

        <dt><strong>CNPJ:</strong></dt>
        <dd><%= @carrier.registered_number %></dd>

        <dt><strong>Endereço Completo:</strong></dt>
        <dd><%= @carrier.full_address %></dd>
    </dl>

    <%= link_to 'Editar', edit_carrier_path %>
</main>