<%= form_with model: @order do |form| %>
    <div>
        <%= form.label :vendor_address %>
        <%= form.text_field :vendor_address %>
    </div>
    <div>
        <%= form.label :item_code %>
        <%= form.text_field :item_code %>
    </div>  
    <div>
        <%= form.label :item_dimension %>
        <%= form.number_field :item_dimension, step: :any %>
    </div>  
    <div>
        <%= form.label :item_weight %>
        <%= form.number_field :item_weight, step: :any %>
    </div> 
    <div>
        <%= form.label :client_address %>
        <%= form.text_field :client_address %>
    </div>   
    <div>
        <%= form.label :client_information %>
        <%= form.text_field :client_information %>
    </div>  
    <div>
        <%= form.label :carrier_id %>
        <%= form.collection_select :carrier_id, @carriers, :id, :corporate_name %>
    </div>
    <div>
        <%= form.submit 'Criar Ordem de Pedido' %>
    </div>
<% end %>