<!DOCTYPE html>
<html>
  <head>
    <title>Transport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Sistema de Frete</h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>
            <li><%= button_to 'Sair', destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path  %></li>
          <% end %>
          <li><%= link_to 'Transportadoras', carriers_path %></li>
          <li><%= link_to 'Veículos', vehicles_path %></li>
          <li><%= link_to 'Taxas de Frete', prices_path %></li>
          <li><%= link_to 'Prazos de Entrega', delivery_times_path %></li>
          <li><%= link_to 'Consultar Frete', new_consult_path %></li>
          <li><%= link_to 'Registrar Pedido', new_order_path %></li>
        </ul>
      </nav>
    </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
