<!DOCTYPE html>
<html>
  <head>
    <title>Transport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header class='cabecalho'>
      <h1><%= link_to 'Sistema de Frete', root_path, class: 'cabecalho-menu-link' %></h1>
      <nav class='cabecalho-menu'>
        <% if user_signed_in? %>
          <%= link_to 'Transportadoras', carriers_path, class: 'cabecalho-menu-link' %>
          <%= link_to 'Veículos', vehicles_path, class: 'cabecalho-menu-link' %>
          <%= link_to 'Taxas de Frete', prices_path, class: 'cabecalho-menu-link' %>
          <%= link_to 'Prazos de Entrega', delivery_times_path, class: 'cabecalho-menu-link' %>
          <%= link_to 'Meus Pedidos', orders_path, class: 'cabecalho-menu-link' %>
          <% if current_user.admin? %>
            <%= link_to 'Consultar Frete', new_consult_path, class: 'cabecalho-menu-link' %>
            <%= link_to 'Registrar Pedido', new_order_path, class: 'cabecalho-menu-link' %>
          <% end %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'cabecalho-menu-link button' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'cabecalho-menu-link' %>
        <% end %>
      </nav>
    </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
